<!-- templates/portfolio/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include 'partials/navbar.html' %}
    
    <main>
        {% block content %}
        <!-- Default content (can be overridden by child templates) -->
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
