<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="slide">
    <div class="slide-item-1">
        <h1>Jonty Godfrey<br /> Developer</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nam earum deserunt vel omnis facilis sint ipsa iure dignissimos obcaecati?</p>
        <p><a class="button portfolio" href="#">Portfolio</a></p>
    </div>
    <div class="slide-item-2">
        <img src="{% static 'images/programing.png' %}" alt="Test" />
    </div>
</div>
<section class="bg">
    <section class="info">
        <div class="card-block">
            <div class="card">
                <i class="fa-solid fa-tv"></i>
                <p class="card-intro">Lorem ipsum dolor sit</p>
                <h4>Web Design</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil dolor architecto commodi.</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-arrow-pointer"></i>                
                <p class="card-intro">Lorem ipsum dolor sit</p>
                <h4>Software Development</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil dolor architecto commodi.</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-check"></i>
                <p class="card-intro">Lorem ipsum dolor sit</p>
                <h4>Artificial Intelligence</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil dolor architecto commodi.</p>
            </div>
        </div>
    </section>
</section>

{% endblock %}
