<footer>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <p>Designed and devloped by Jonty Godfrey &copy;</p>
    <div class="footer-social-links">
        <ul>
            <li><a href="https://github.com/jont-2713?tab=repositories"><i class="fa-brands fa-github"></i></a></li>
            <li><i class="fa-brands fa-linkedin"><a href="#"></a></i></li>
        </ul>
    </div>
</footer>